In [19]:
import pandas as pd
import dtale

c:\Users\kriis\anaconda3\Lib\site-packages\kaleido\_sync_server.py:11: UserWarning:



Warning: You have Plotly version 5.24.1, which is not compatible with this version of Kaleido (1.2.0).

This means that static image generation (e.g. `fig.write_image()`) will not work.

Please upgrade Plotly to version 6.1.1 or greater, or downgrade Kaleido to version 0.2.1.

In [ ]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]}) # pd.DataFrame() constructor to generate dataframe object.
#keys: column name
#values: are entries in df and should be array like objects.

   Yes   No
0   50  131
1   21    2

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
              index=['Product A', 'Product B'])
# index parameter

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [ ]:
#Series:
#1-D array like structure can be created from array like objects such as list, tuples, nd.array, etc.
#sets can be used but not recommended as they are unordered.
#for dataframe we can say series is a column.
pd.Series((1,2,3,4,5))

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
pd.Series([30,35,40], index=['2015 sales', '2020 sales', '2025 sales'], name='Product A')
#in series there's no column name it have a whole series name.

2015 sales    30
2020 sales    35
2025 sales    40
Name: Product A, dtype: int64

In [8]:
#Reading Data files:

In [23]:
#csv files 
wine_reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0) # read_csv() fucntion
wine_reviews.shape
#shape attribute to know how large dataframe is.
#we ca

(129971, 13)

In [24]:
wine_reviews.head() # head() method

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks